/* Colors and fonts */ 

body {
 background: #EEEDDE;
 color: #395B64;
 font-family:font-family: 'Roboto', sans-serif;
 font-size: 16px;
}

h1,h2,h3 {
    font-family: 'Playfair Display', serif;;
}
h1{
  color:deeppink;
  font-size: 25px;
}
h2{
  color: #203239;
  font-size: 20px;
  font-weight: lighter;
  font-weight: 500;
}

a{
    text-decoration: none ;
    color: deeppink;
    font-weight: 600;
    font-size: 16px;
}
a:hover {
    color: #FA4EAB;
}

/* Custom design with class */

.container {
  width: 700px;
  margin: 40px auto;
}

@media (max-width: 760px) {
    .container {
     width: 600px;  
    }
}

@media (max-width: 500px) {
    .container {
     width: 400px;  
    }
}
    
   
#introduction p {
    margin-bottom: 40px;
}

.list-inline i:hover{
    font-size: 40px;
    color: deeppink;
}

.list-inline i {
    font-size: 30px;

}

.list-inline i:hover {
    color: black;
} 

.list-inline {
    list-style: none;
    padding-left: 0px;
}

.list-inline li {
    display: inline;
    padding: 10px;
}


.btn-white {
    background-color: deeppink;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
}

.btn-white:hover{
    background-color: lightgrey;
    color: white;
}


.img-circle {
    border-radius: 50%;
}

.card-white {
    background-color: white;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 5px;
    margin: 20px 0px;
    text-align: center;
}






